.transition-animate {
	@include transition-property(all);
	@include transition-duration(300ms);
}

.page-edit {
	.main-header {
		// When dockbar is visible
		padding-top: 20px;
	}
}

.main-header {
	background: $header-bg;
	@include clearfix();

	.header-inner {
		@include clearfix();

		padding: 0;

		@include small {
			padding: 1.5em 0;			
		}

		.logotype {
			padding-left: 1em;
			padding-top: 0.5em;
			float: left;
			width: $logotype-normal-ultrasmall;
			@include small {
				padding-left: 0;
				padding-top: 0;
				width: $logotype-medium-size;
			}
			@include medium {
				width: $logotype-normal-size;
			}
			img {
				width: 100%;
			}
		}

		.top-nav-wrap {
			float: right;
			width: $topwrap-normal-ultrasmall;
			@include small {
				width: $topwrap-small-size;
			}
			@include medium {
				width: $topwrap-normal-size;
			}
		}
	}

	#topNavigation {

		float: right;
		position: relative;

		ul {
			@include no-bullets();
  			@include horizontal-list();
  			color: $top-nav-color;
  			font-size: 0.9em;

			li {

				display: none;
				line-height: 1.5;
				padding-left: 1em;
				padding-right: 0;

				@include medium {
					padding-left: 3em;
					display: block;
				}

				a,
				> span {
					color: $top-nav-color;
					display: inline-block;
					padding: 1em;
					text-decoration: none;

					@include small {
						padding: 0;
					}
				}

				a:hover {
					text-decoration: underline;
				}

				&.language {
					display: block;

					@include small {

					}

					@include medium {}

				}


			}
		}
	}

	#navigation {

		background: $menu-bar-bg;
		font-weight: $menu-bar-font-weight;

		@include border-radius(3px);

		display: none;

		&.open {
			display: block;
		}

		@include medium {
			display: block;
		}

		ul.level-one {
			@include no-bullets();
  			@include horizontal-list();

  			> li {

  				margin: 0;
  				padding: 0;

				a {
					color: $menu-bar-color;
					display: block;
					font-weight: 1.2em;
  					padding: 8px 24px;
  					position: relative;
					text-decoration: none;
				}

  				&.selected a,
  				a:hover {
  					background: $menu-bar-selected;
  					color: $menu-bar-selected-color;
  				}

  				&:first-child a,
  				&.first a {
  					@include border-radius(3px 0 0 3px);
  				}

  			}

		}

	}


}